h1{
    border: 5px;
    background-color: aquamarine;
    color: red;
}


#list {
list-style: -o-linear-gradient();
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
border-color: black;
}